### IDEA IDE specific
.DS_Store
.idea/
*.iml

### Maven generated
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup

### NodeJS
**/node_modules/
**/node/
package-lock.json

## BackstopJS visual testing
**/backstop_data/

### SASS cache
.sass-cache
